# Local .terraform directories
**/.terraform/*
# Ignore variables files
*.auto.tfvars
**/local.tfvars
# Ignore override files
*.tfoverride

# Ignore environment-specific files
.envrc
.venv
venv/
**aws
# Ignore CLI configuration files
.terraformrc

# Ignore local states
**/terraform.tfstate*
**/.terraform.tfstate*
.terraform.lock.hcl
